@import './sass/_colors.scss';
@import './sass/_mixins.scss';
@import './sass/_footer.scss';
@import './sass/_container.scss';
@import 'app/components/CurrencyExchanger.scss';


.App {
  text-align: left;
}

.header {
  width: 100%;
  background-color: $white;
  margin: 0;
  height: 180px;
}
@include for-size(desktop) {
  .header {
    height: 180px;
  }
}

@include for-size(phone) {
  .header {
    height: 120px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
